*{
    margin: 0;
    padding: 0;
}
/* common styles used  */
.btn-primary{
    font-size: 15px;
    padding: 15px 20px;
    background:rgba(146, 104, 26, 0.836);
    border-radius: 17px;
    border: 0;
    color: white;
    margin-right: 20px;
    
}
.btn-primary:hover{
    background-color: aqua;
    cursor:grab;
    color: black;
}
.title{
    font-size: 50px;
    font-weight: bolder;
    color: white;
}
.para{
    font-size: 20px;
    color: white;
    width: 50%;
    margin: auto;
    padding: 20px;
     
}
span{
    color:rgba(146, 104, 26, 0.836);
    /* font-size: 30px; */

}

/* nav bar related styles */
.nav-container{
    display: flex;
    background-color: gray;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}
.menus{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-family: monospace;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.979);
     
}

/* banner related styles*/
.banner-container{
    height: 100vh;
    background-image: url("../asset/image/background.jpg"), linear-gradient(rgba(68, 66, 92, 0.445), rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;

}
/* Services We Can Help You With !  */
.service-container{
    height: 100vh;
    background-color: rgb(31, 30, 30);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    gap: 60px;
}
.service-info{
    width: 50%;
     
}
.service-title{
    font-size: 30px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.service-para{
    color: white;
    padding-bottom: 20px;
    font-size: 18px;
}
li{
    color: white;
    font-size: 18px;
    /* padding-left: 10px; */
}
.ceo{
    display: flex;
    padding-top: 30px;
    align-items: center;
}
.author{
    height: 70px;
    border-radius: 50px;
}
.ceo-title{
    color: white;
   padding-right: 100px;
    padding-left: 20px;

}
hr{
    height: 60px;
    border: 1px solid red;
   margin-right: 20px;
}
.service-img{
    display: flex;
}
.box1{
    margin-right: 10px;
}

.img-info{
    width: 150px;
    height: 120px;
    background-color: antiquewhite;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    margin-bottom: 10px;

}
.icon{
    height: 80px;
    margin-bottom: 20px;
     
}